[Desktop Entry]
Name=Brain Fuck语言解释器
Name[zh_CN]=Brain Fuck语言解释器
Name[en_US]=BF language
Exec=/usr/local/brain-fuck/brain-fuck
Icon=/usr/local/brain-fuck/brain-fuck.svg
Comment=None
Terminal=true
Type=Application

